---
# Custom settings for hydeout
---

$sidebar-bg-color: #00122d;
$layout-reverse: true;
$heading-color: #000000;
$link-color: #002b4f;
$body-color: #000000;
$code-color: #fc0000;
$root-font-family: Times New Roman !default;
$code-font-family: 'Bitstream Vera Sans Mono', monospace !default;
@import "hydeout";
